In [ ]:
Try and exept for macros
try:
        
except Exception as e:
            exc_type,exc_obj,exc_tb = sys.exc_info()

            logging.exception(f"The following  exception has occured in the function 'ReadParameter' at line :{exc_tb.tb_lineno}")
            logging.exception("-------------------------------------------------------------------------------------------------")
            logging.exception(e)
            logging.exception("-------------------------------------------------------------------------------------------------")

In [ ]:
    def formatting(num,width):
        '''Function for formatting the numerical columns with a certain width.'''

        a=float(str(num)[:width+1])
        number_dec = str(a).split('.')[1]
        K=len(number_dec)-1
        res = float("{{:.{}f}}".format(K).format(a))
        return res




    def upcase_header(df):
        """function to change the dataframe header to uppercase."""

        df.columns=df.columns.str.upper()
        return df

In [20]:
import pandas as pd
import numpy as np
Data = pd.DataFrame({'A':['Hai','Hai',"Hai",'Hello','Hello','Good','Happy','Happy'],
                    'B':['ABJ','ABJ',"VBK",'VNK','VNK','ABJ','MNK','KOO'],
                    'C':[755,725,753,7545,90,45,45,46]})


Data['flag'] = np.where(Data.A != Data.A.shift(1), 1, 0)
#here if the for the first valuee in tthe column falg column will set to 1 else 0


for last value
Data['flag'] = np.where(Data.A != Data.A.shift(-1), 1, 0)

In [ ]:
if not (first.&xkey. and last.&xkey.);
globals()[str(ods)].loc[ globals()[str(ods)].groupby(str(xkey),as_index=False).nth([0,-1]).index, 'flag' ] = 1

In [ ]:
# Finding the first alphabet occurence of a column.
anyalpha(upc)

for i in range (1,len(product_upcs_t)+1):
    temp= re.search(r'[a-z]', product_upcs_t['upc'][i], re.I)
    if temp is not None:
        product_upcs_t['first_alpha'][i] = temp.start()+1

In [ ]:
#Shift
data frag01;
retain fhilf;
set fragen;
by frage;
if first.frage then fhilf=sum(fhilf,1);
run;

frag01=fragen.copy(deep=True)
frag02=frag01.groupby(['FRAGE']).first().reset_index(drop=False)
frag02['FHILF']=(frag02.index)+1
dic=dict(zip(frag02['FRAGE'],frag02['FHILF']))
frag01['FHILF']=frag01['FRAGE'].map(dic)
logger.info(f"fragen has %s rows and %s columns" %(len(fragen.axes[0]),len(fragen.axes[1])))

In [ ]:
#Frequency
proc freq data = fragen noprint;
 tables frage/out = anz_ant;
run;


# Creating table anz_ant from fragen
col_name=fragen.columns.tolist()
for i in range(0,1):  
    freq=fragen.groupby(col_name[i]).size().reset_index(name="COUNT")
    Percent=((freq['COUNT']/freq['COUNT'].sum())*100).round(2)
    Cummulative_Frequency=freq['COUNT'].cumsum()
    Cummulative_Percent=((freq['COUNT'].cumsum()/freq['COUNT'].sum())*100).round(2)
    freq['PERCENT']=Percent
    freq['CUMMULATIVE_FREQUENCY']=Cummulative_Frequency
    freq['CUMMULATIVE_PERCENT']=Cummulative_Percent
anz_ant=freq.copy(deep=True)
anz_ant=anz_ant[['FRAGE','COUNT','PERCENT']]
logger.info(f"anz_ant has %s rows and %s columns" %(len(anz_ant.axes[0]),len(anz_ant.axes[1])))




proc freq data = hh_&&region&i.._&kw. noprint;
 tables bebau/out=haben_&&region&i.._&kw.;
run;


# Finding frequency
s=globals()['hh_'+str(region[i])+'_'+str(kw)]['BEBAU'].value_counts().sort_index()

 globals()['haben_'+str(region[i])+'_'+str(kw)]= pd.DataFrame({
            'COUNT': s.values,
            'BEBAU': s.index,
            'PERCENT': ((s.values/s.values.sum())*100).round(2)})

In [ ]:
%minmax(a.mbd,b.mbd)
tmp1['mbdSG']=np.vectorize(minmax)(tmp1['MBD'],tmp1['mbd_b'])

In [ ]:
ACHAT.loc[ACHAT['NB_TP_o'] <= 0 , 'NB_TP_o'] = ACHAT['rb']

In [ ]:
import datacompy
tmp=pd.read_excel(r'C:\Users\1949524\OneDrive - TCS COM PROD\Documents\SAS to Python\Development\UC117\LaCooperativaCad\sas_intermediates\SELDESCORTA.xlsx')
compare = datacompy.Compare(SELDESCORTA,
tmp,
join_columns= ['EANCOD1'], #You can also specify a list of columns
abs_tol=0,
rel_tol=0,
)
print(compare.report())

In [ ]:
#COMPBL(DESCRIPCION)
TODO['SHORTDES']=TODO['DESCRIPCION'].str.replace(r'\s+',' ',regex=True)

#COMPRESS(EANCODE1)
TODO['EANCODE1'].astype(str).str.strip()

#TRANSLATE(EAN,'0',' ')
TODO['EANCODE1'].astype(str).str.replace(' ','0',regex=False)

In [ ]:
def main():
statements

if __name__ == "__main__":
try:
    logger.info('Starting....')
    main()
    logger.info('Build complete.....')
except:
    print('error')
    logger.error(f'Failed..\n {traceback.format_exc()}')

In [ ]:
#Writer
with pd.ExcelWriter( r"C:\1924686_aditi\SAS_files\8_UC124.xlsx" ) as writer:
        sumarDATOMES.to_excel(writer, sheet_name="sumarDATOMES", index=False)
        CHECK.to_excel(writer, sheet_name="check", index=False)

In [ ]:
#Logging with file handler
#************Configure logger*******************************************
#get config file
logging.config.fileConfig('logger_config.cfg')
# create logger
filename='QC_Puppies_kitten_HP'
logger = logging.getLogger(filename)
#create custom formatter
formatter = logging.Formatter('%(asctime)s : %(name)s : %(levelname)s - %(message)s')
#create handler
if os.path.exists(f"logs/{filename}.log"):
    os.remove(f"logs/{filename}.log")
fh = logging.FileHandler(f"logs/{filename}.log")
fh.setFormatter(formatter)
logger.addHandler(fh)
#*****************************************************************************


##################################################################################
pgm = '12_act_scanner_prueba_mon'

# Create a custom logger


logger = logging.getLogger(pgm)
logger.setLevel(logging.DEBUG)

c_handler = logging.StreamHandler()
c_handler.setLevel(logging.DEBUG)

f_handler = logging.FileHandler(f'{pgm}_log.log',mode = 'w')
f_handler.setLevel(logging.DEBUG)

# Create formatters and add it to handlers

c_format = logging.Formatter('%(name)s - %(levelname)s - line_no:%(lineno)d- %(message)s')

#f_format = logging.Formatter('%(asctime)s - %(name)s - %(levelname)s - line_no:%(lineno)d - %(message)s')

f_format = logging.Formatter('[%(asctime)s]-%(name)s- p%(process)s- {%(pathname)s:-line_no:%(lineno)d}- %(levelname)s -funcName:%(funcName)s - %(message)s','%m-%d %H:%M:%S')



c_handler.setFormatter(c_format)

f_handler.setFormatter(f_format)

# Add handlers to the logger

#logger.addHandler(c_handler)

logger.addHandler(f_handler)

logger.info(f'{pgm} Execution starts here')
start_time = datetime.now()



#Creating DB Connection for SQL
db_conn=create_engine('sqlite://',echo=False)
# connection=create_engine(r"sqlite:///",echo=False)
# db_conn = connection.raw_connection()

# cur = db_conn.cursor()
############################################################################

In [ ]:
#with buffer
FileName = "load_idc"+str(per)

#Creating log file
#logging.captureWarnings(True)
logger=logging.getLogger(FileName)
logging.basicConfig(filename=config.srceloc+FileName+".log",format='%(asctime)s : %(name)s : %(lineno)s : %(message)s', datefmt='%d-%b-%y %H:%M:%S', filemode = 'w')
logger.setLevel(logging.DEBUG)
logger.info("Begining of execution")
buffer=io.StringIO()

In [ ]:
#LOGGING
def st(df,name):
    
    """To call logging.info easier
        df : Variable
        name : name as string"""
    
    if str(type(df)) == "<class 'pandas.core.frame.DataFrame'>":
        rows = str(len(df))
        columns = str(len(df.columns))

        s = 'Dataframe '+name+' created, with '+rows+' rows and '+columns+' columns'
    else:
        s = 'Variable '+name+' resolves to '+str(df)
    
    return s

log = logging.info
log(st(CounProj,'CounProj')); log(st(n,'n'))

In [ ]:
#read config ini file
cfg = ConfigParser()
cfg.read('config.ini')

histo = cfg.get('QC_Puppies_kitten_HP','histo')

pet = cfg.get('QC_Puppies_kitten_HP','pet')

dv = cfg.get('QC_Puppies_kitten_HP','dv')



# set sysdate variable to current date if test_date not defined in config file else set sysdate = test_date
try:
    if cfg.has_option('QC_Puppies_kitten_HP','test_date'):
        temp_date = cfg.get('QC_Puppies_kitten_HP','test_date')
        sysdate = datetime.datetime.strptime(temp_date,"%d%b%Y")
    else:
        sysdate = datetime.datetime.now()
    logger.info(f'sysdate = {sysdate}')
except:
    print('Please check the format of the test_date')
#***********************************************************************************

In [ ]:
#Date time format
date_object = datetime.datetime.strptime(date,"%d/%m/%Y")
date_object.strftime("%d/%m/%Y")

In [ ]:
#Logging final
# creating log file for load_df1_202150
logging.basicConfig(filename='load_df1_202150.log',
filemode='w+',
format='%(asctime)s,%(msecs)d %(name)s %(levelname)s %(message)s',
datefmt='%d-%b-%y %H:%M:%S',
level=logging.DEBUG,force=True)
handler = logging.FileHandler('load_df1_202150.log', 'w+')
logger=logging.getLogger('load_df1_202150')

In [ ]:
logging.basicConfig(filename=log_file_name,
                        filemode='a',format=">{%(asctime)s} [PID:%(process)d] (%(name)s)  [%(funcName)s():%(lineno)s]  >>%(levelname)s: %(message)s",
                        datefmt='%d-%b-%y %H:%M:%S',
                        level=logging.DEBUG, force = True)
logger=logging.getLogger(__name__)

In [ ]:
    #uncomment in CIS
    
#     if os.path.isfile(mfullfilename+'.gz'):
#         a="zcat"+ mfullfilename+'.gz'+"|sed s'/\r//g'>"+mfullfilename+".csv"
#         os.system(a)
#         cols=['FILECODE','CDSRV','DTENC','NUTCKCLT','CDVTE','CDTCKVNT','QTVTE','MTVTE','ANNULATION','VLPDS','MTREM','Filler']
#         colspec_list=[(0,2),(2,7),(7,13),(13,20),(20,33),(33,36),(36,45),(45,54),(54,55),(55,64),(64,73),(74,80)]
#         FR1=pd.read_fwf(FR1,colspecs=colspec_list,names=cols,dtype=str,skiprows=2)
#     else:
#         b="cat"+ mfullfilename+"|sed s'/\r//g'>"+mfullfilename+".csv"
#         os.system(b)
#         cols=['FILECODE','CDSRV','DTENC','NUTCKCLT','CDVTE','CDTCKVNT','QTVTE','MTVTE','ANNULATION','VLPDS','MTREM','Filler']
#         colspec_list=[(0,2),(2,7),(7,13),(13,20),(20,33),(33,36),(36,45),(45,54),(54,55),(55,64),(64,73),(74,80)]
#         FR1=pd.read_fwf(FR1,colspecs=colspec_list,names=cols,dtype=str,skiprows=2)

#     comment in CIS
    
    if(os.path.exists(mfullfilename+'.gz')):
        FR1=gzip.open('mfullfilename.gz')
        cols=['FILECODE','CDSRV','DTENC','NUTCKCLT','CDVTE','CDTCKVNT','QTVTE','MTVTE','ANNULATION','VLPDS','MTREM','Filler']
        colspec_list=[(0,2),(2,7),(7,13),(13,20),(20,33),(33,36),(36,45),(45,54),(54,55),(55,64),(64,73),(74,80)]
        FR1=pd.read_fwf(FR1,colspecs=colspec_list,names=cols,dtype=str,skiprows=2)
    else:
        FR1=cols=['FILECODE','CDSRV','DTENC','NUTCKCLT','CDVTE','CDTCKVNT','QTVTE','MTVTE','ANNULATION','VLPDS','MTREM','Filler']
        colspec_list=[(0,2),(2,7),(7,13),(13,20),(20,33),(33,36),(36,45),(45,54),(54,55),(55,64),(64,73),(74,80)]
        FR1=pd.read_fwf(mfullfilename,colspecs=colspec_list,names=cols,dtype=str,skiprows=2)

In [ ]:
#Mapping 
temp = my_inds_dates['DTENC'].unique().tolist()
temp1 = list(map(str, temp))

In [ ]:
pd.DataFrame({"FILECODE":pd.Series(dtype='object'),
              "CDSRVMAG":pd.Series(dtype='int64'),
              "CDEANVTECFR":pd.Series(dtype='int64')
              ,"DTDEBAPPCFR":pd.Series(dtype='int64'),"DTFINAPPCFR":pd.Series(dtype='int64'),"CDEANVTE":pd.Series(dtype='int64'),"VLPXVORI":pd.Series(dtype='int64'),"VLPXVREM":pd.Series(dtype='int64'),"Filler":pd.Series(dtype='float64')})

In [ ]:
except Exception as e:
        exc_type,exc_obj,exc_tb = sys.exc_info()
        logger.exception(f"The {exc_type} exception  has occurred in the fucntion 'Loop_read_prh_id_conv'  at line :{exc_tb.tb_lineno}")

In [ ]:
#HTML

display(globals()[new_dataset+"_char_changes"].style.set_caption("CHAR CHANGE HISTORY CHECKS"))

In [ ]:
#keys='HOUSEHOLD_ID~ROLE_CLIENT_CODE'
#in_delimiter = '~'
scan(keys,in_delimiter)
[HOUSEHOLD_ID,ROLE_CLIENT_CODE]

In [ ]:
def Proc_Sql(query,conn,dfs=[],names=[],to_df=False,drop=[]):
    
    """Execute SQL queries of SAS in Python
        query : query to be ran(query='' when just to convert dataframes to local db tables)
        conn : server connection made
        dfs : list of dataframes used in the query
        names : names of dataframes in sql query in the order of dfs
        to_df : True to return dataframe as a result of query"""
    
    #dropping columns in list drop
    if drop != []:
        for i in range(len(drop)):
            conn.execute('DROP table IF EXISTS '+drop[i])
    
    #converting dataframes in dfs to sql table according to names
    if dfs != [] and names != []:
        for i in range(len(dfs)):
            conn.execute('DROP table IF EXISTS '+names[i])
            dfs[i].to_sql(names[i],conn,index=False)
    
    #return dataframe if to_df equals True
    if to_df == True:
        df = pd.read_sql(query,conn)
        return df
    else:
        conn.execute(query)

In [ ]:
x dos2unix -q ../data/&kw./bezirk_&kw..csv;

    # importing input files
    if platform == "linux" or platform == "darwin":
        os.system("x dos2unix -q ../data/"+str(kw)+"/results_"+str(kw)+".csv")
    filename="Results_EA_"+str(kw)+".csv"
    results1=pd.read_csv(os.path.join(Input,filename),sep=';',encoding='ISO-8859-1')
    logging.info("Input file fetched.")

In [ ]:
#Soundex
def soundex(query):
    """
    https://en.wikipedia.org/wiki/Soundex
    :param query:
    :return:
    """

    try:
        
        query = query.lower()
        letters = [char for char in query ]
    
        # Step 1: Save the first letter. Remove all occurrences of a, e, i, o, u, y, h, w.
    
        # If query contains only 1 letter, return query+"000" (Refer step 5)
        if len(query) == 1:
            return query + "000"
    
        to_remove = ('a', 'e', 'i', 'o', 'u', 'y', 'h', 'w')
    
        first_letter = letters[0]
        letters = letters[1:]
        letters = [char for char in letters if char not in to_remove]
    
        if len(letters) == 0:
#             print('try')
            return first_letter + "000"
    
        # Step 2: Replace all consonants (include the first letter) with digits according to rules
    
        to_replace = {('b', 'f', 'p', 'v'): 1, ('c', 'g', 'j', 'k', 'q', 's', 'x', 'z'): 2,
                      ('d', 't'): 3, ('l',): 4, ('m', 'n'): 5, ('r',): 6,' ':''}
    
        first_letter = [value if first_letter else first_letter for group, value in to_replace.items()
                        if first_letter in group]
        letters = [value if char else char
                   for char in letters
                   for group, value in to_replace.items()
                   if char in group]
    
        # Step 3: Replace all adjacent same digits with one digit.
        letters = [char for ind, char in enumerate(letters)
                   if (ind == len(letters) - 1 or (ind+1 < len(letters) and char != letters[ind+1]))]
    
        # Step 4: If the saved letter’s digit is the same the resulting first digit, remove the digit (keep the letter)
        if first_letter == letters[0]:
            letters[0] = query[0]
        else:
            letters.insert(0, query[0])
    
        # Step 5: Append 3 zeros if result contains less than 3 digits.
        # Remove all except first letter and 3 digits after it.
    
        first_letter = letters[0]
        letters = letters[1:]
    
        letters = [char for char in letters if isinstance(char, int)][0:15]
    
        while len(letters) < 15:
            letters.append(0)
    
        letters.insert(0, first_letter)
    
        string = "".join([str(l) for l in letters])
#         print('try')
        return string
    
    except:  
        try:
            query=str(float(query))
            string = str(query[0])    
            return string
        except:
            return query[0]

In [ ]:
pd.concat1,2)

In [ ]:
for i in lst1:
    db_conn.execute(i)

lst2=["""update lal_neu
set street=upper(replace(street,'ü','ue'))""",
      
"""update lal_neu
set street=upper(replace(street,'Ü','Ue'))""",
      
"""update lal_neu
set street=upper(replace(street,'ö','oe'))""",
      
"""update lal_neu
set street=upper(replace(street,'Ö','Oe'))""",
      
"""update lal_neu
set street=upper(replace(street,'ä','ae'))""",
      
"""update lal_neu
set street=upper(replace(street,'Ä','Ae'))""",
      
"""update lal_neu
set street=upper(replace(street,'ß','ss'))""",
      
"""update lal_neu
set street=upper(replace(street,'str.','str'))""",
      
"""update lal_neu
set street=upper(replace(street,'STR.','STR'))""",
      
"""update lal_neu
set street=upper(replace(street,'strasse','str'))""",

"""update lal_neu
set street=upper(replace(street,'STRASSE','STR'))""",

"""update lal_neu
set street=upper(replace(street,'  ',' '))"""
    ]

for i in lst2:
    db_conn.execute(i)

In [ ]:
#Logging part
import logging
logger=logging.getLogger()

logging.basicConfig(filename='ldl_dataprep_2015.log',
                            filemode='w',
                            format='%(asctime)s,%(msecs)d %(name)s %(levelname)s %(message)s',
                            datefmt='%d-%b-%y %H:%M:%S',
                            level=logging.DEBUG)
logging.info("Execution starts")

logger.info('Value of CounProj is %s' %CounProj)

 logging.info("The input table %s has %s rows and %s columns." %(rawd,len(rawdf.axes[0]),len(rawdf.axes[1])))
rawdf.columns=rawdf.columns.str.lower()


logging.info(f"Table itm_{str(weekno)} has %s  rows and %s columns" %(len(itm_.axes[0]),len(itm_.axes[1])))

In [ ]:

if compbl(D_68090||D_68092) ne "" then Pack_Size=compbl(compbl(D_68090)||" "||compbl(D_68092));
    else if compbl(D_67658) ne "" then Pack_Size=(compbl(D_67658));
    else if compbl(D_67659) ne "" then Pack_Size=(compbl(D_67659));
    else if compbl(D_67660) ne "" then Pack_Size=(compbl(D_67660));
    else if compbl(D_67661) ne "" then Pack_Size=(compbl(D_67661));




# applying conditions on columns of dataframe extractimdb                          
extractimdb['Pack_Size']=np.vectorize(concatenation)(extractimdb['D_68090'], extractimdb['D_68092'])

extractimdb['Pack_Size']=np.vectorize(concatenation_1)(extractimdb['D_67658'])
extractimdb['Pack_Size']=np.vectorize(concatenation_1)(extractimdb['D_67659'])
extractimdb['Pack_Size']=np.vectorize(concatenation_1)(extractimdb['D_67660'])
extractimdb['Pack_Size']=np.vectorize(concatenation_1)(extractimdb['D_67661'])

In [ ]:
if isaper['count(distinct week_id)'].all()

##### Should use path as ldata

# Deleting codes
del cnan_total
del cnan_promo
del cnan_non_promo

# DATA Cleaning
    cnan['nlig']=cnan['nlig'].astype('float64')
    cnan['cnan']=cnan['cnan'].astype('float64')
    cnan=cnan[['nlig','cnan', 'conv1']]
    
    wcontract['nlig']=wcontract['nlig'].astype('float64')
    wcontract['dts']=wcontract['dts'].fillna(0)
    wcontract['dts']=wcontract['dts'].astype(int)
    wcontract['dts']=wcontract['dts'].astype(str)
    wcontract=wcontract[['nlig','line_desc','conv','mother','level','valid','dts','prh_id','dupli','xf_master']]

In [ ]:
exec(open('mc_compressg.py').read())
exec(open('info.py').read())

# Creating Functions
def delete(x):
                '''This function is to delete the existing tables in the sql database'''
                db_conn.execute('DROP table IF EXISTS ' +x)
def to_sql(x,y):
        '''This function is to write the dataframe to sql database'''
        x.to_sql(y,db_conn)
        
def read_file(filepath):
    '''This function is used to read the input file with tab seperated'''
    data=pd.read_excel(filepath)
    return data

def export_file(filename,filepath):
    '''This function is used to export/write the data into output file with tab seperated'''
    filename.to_excel(filepath,index=False)

In [ ]:
abc=pd.DataFrame({"Orrange":[12,233,233,356,4,5,6],
             "Chikku":[7,2,0,7,0,6,7],
               "Badam":[7,2,3,7,5,6,9]})

# Removing the files
file_wContract_orig= (lData+'wContract_orig.csv')
if os.path.exists(file_wContract_orig):
    os.remove(file_wContract_orig)

# SQL
INP_FIL.to_sql('INP_FIL',db_conn,if_exists='replace',chunksize=40)

chain_working=pd.read_sql_query(f'''select * from chain_working where ShopTYP = {"'" + shoptyp  + "'"} and PerFrom = {"'" + perfromN  + "'"}''',db_conn)

# Merging with indicator
wcontract=wcontract.merge(xfMASTER,how="outer",indicator=True)

In [ ]:
query='''create table LAL_alt as 
select ash, TDLinx, allocno, adrname, adrstr, zipcode, city, salesarea, fps, typ, comment
from address_universe_working
where 
perfrom=:perfrom
and allocno between :allocno1 and :allocno2

order by zipcode;'''

LAL_alt=db_conn.execute(query,typ=typ,perfrom=config_file_125.perfrom,allocno1=config_file_125.allocno1,allocno2=config_file_125.allocno2,allocnot=config_file_125.allocnot)
LAL_alt=pd.DataFrame(pd.read_sql_query('select * from LAL_alt', db_conn))
LAL_alt=LAL_alt[(LAL_alt['Typ'].isin(typ)) & ~(LAL_alt['Typ'].isin(config_file_125.allocnot))]

# To Frame
cnan_reference.to_frame()

# removing duplicated columns
adr_chain= adr_chain.loc[:,~adr_chain.columns.duplicated()]

['results_'+str(region[i])].loc[:,~globals()['results_'+str(region[i])].columns.duplicated()]

cnan_reference.drop_duplicates(subset='cnan',keep='first',inplace=True)

In [1]:
# uncomment these lines to establish connection with MSCI server
#import pyodbc
#conn = pyodbc.connect('DRIVER={SQL Server};''SERVER=LHRWINSQLP053.enterprisenet.org;''DATABASE=MSCI_UNIVERSE;''Trusted_Connection=yes;')
#cur = conn.cursor()

#should do at the end
#conn.commit()
libname univ ODBC NOPROMPT="Driver={SQL Server};Server=LHRWINSQLP053;
Database=MSCI_UNIVERSE;" Schema=DBO;

AttributeError: 'str' object has no attribute 'substr'

In [ ]:
#strfTime
%let t = %sysfunc( datetime(), datetime14. );
%put ***** TIME CHECK AT START: &t  *****;
time.strftime("***** TIME CHECK AT START: %d%b%y:%H:%M  *****")

# Dropping the duplicates columns
apo_area = apo_area.loc[:,~apo_area.columns.duplicated()]

cols_to_keep=['ac_shop','NC_NAN_KEY', 'pur_date_yyyyww', 'promo']
EF_DATA.drop(EF_DATA.columns.difference(cols_to_keep), axis=1,inplace=True)

In [ ]:
        CONNECT TO oracle AS nrsp (path=VALPRD01 password=NRSP_GUEST user=NRSP_GUEST);
        CREATE TABLE &dsout AS
          SELECT * FROM CONNECTION TO nrsp
            (select FHP_FDS_ID, FHP_ITM_ID as itm_id
             from NRSP_RES.VRAG_FLAT_HIE_PRD
             where FHP_FDS_ID=&FdsId and fhp_phi_id=fhp_cons_phi_id
             )
        ;
        DISCONNECT FROM nrsp;
        select count(FHP_FDS_ID) into:rdVALPRD_TAG from &dsout;
      quit;  


cx_Oracle.init_oracle_client(lib_dir=r"C:\Users\2104384\Downloads\instantclient-basic-windows.x64-19.12.0.0.0dbru\instantclient_19_12")
        dsn_tns = cx_Oracle.makedsn('oravalprdscan', '1535', service_name='VALPRDMDR')
        conn = cx_Oracle.connect(user='NRSP_GUEST', password='NRSP_GUEST', dsn=dsn_tns)
        c = conn.cursor()
        
        query='''select FHP_FDS_ID, FHP_ITM_ID as itm_id
                      from NRSP_RES.VRAG_FLAT_HIE_PRD where FHP_FDS_ID={} AND fhp_phi_id=fhp_cons_phi_id'''.format(FdsId)
        a= pd.read_sql_query(query,con = conn)
        a
        conn.close()

In [ ]:
#
Load_Df_Type = {'FILECODE': str,
                   'CDOFRFDL': str,
                   'CTOFRFDL': str,
                   'LBOFRFDL': str,
                   'LBOFRTCK': str,
                   'DDOFRFDL': str,
                   'Filler1': str,
                   'DFOFRFDL': str,
                   'Filler2': str,
                   'NBATTRIB': str,
                   'Filler3': str,
                   'ORSENS': str,
                   'LBCMG': str,
                   'MTREM': float,
                   'PCREM': float,
                   'NBPTS': float,
                   'Filler4': str,
                   'TYPMEC': str,
                   'CDCUPEXT': str,
                   'CDCATCMG': str,
                   'CDSGM': str,
                   'CDRGPEXT': str,
                   'Filler5': str,
                   'CDCMG': str,
                   'Filler6': str}

converters_list = {'NBATTRIB':lambda x : str(x),
                              'ORSENS':lambda x : str(x),
                              'TYPMEC':lambda x : str(x)}




FF = f'{minlib}FR1.txt'
    Load_Df_columns = ['FILECODE','CDOFRFDL','CTOFRFDL','LBOFRFDL','LBOFRTCK','DDOFRFDL','Filler1',
                      'DFOFRFDL','Filler2','NBATTRIB','Filler3','ORSENS','LBCMG','MTREM','PCREM','NBPTS',
                      'Filler4','TYPMEC','CDCUPEXT','CDCATCMG','CDSGM','CDRGPEXT','Filler5','CDCMG','Filler6']

    colspecs_list = [(0,2),(2,10),(10,12),(12,47),(47,67),(67,75),(75,79),(79,87),(87,97),(97,99),
                     (99,101),(101,102),(102,132),(132,141),(141,146),(146,151),(151,167),(167,168),
                     (168,183),(183,186),(186,196),(196,211),(211,302),(302,317),(317,320)]
    Load_Df=pd.read_fwf(FF,colspecs=colspecs_list,names  = Load_Df_columns,converters = converters_list ,header=None)

In [ ]:

#or removing mulpiple spaces
extractimdb['Flavor']=extractimdb['Flavor'].replace('\s+',' ',regex=True)

extractimdb['Pack_Size_STD']=extractimdb['Pack_Size_STD'].str.rstrip()

# Declaring Schema of the DataFrame

mdataset_name_schema = pd.DataFrame{'FILECODE': pd.Series(dtype='object'),
                   'CDOFRFDL': pd.Series(dtype='object'),
                   'CTOFRFDL': pd.Series(dtype='object'),
                   'LBOFRFDL': pd.Series(dtype='object'),
                   'LBOFRTCK': pd.Series(dtype='object'),
                   'DDOFRFDL': pd.Series(dtype='float64'),
                   'Filler1': pd.Series(dtype='object'),
                   'DFOFRFDL': pd.Series(dtype='float64'),
                   'Filler2': pd.Series(dtype='object'),
                   'NBATTRIB': pd.Series(dtype='object'),
                   'Filler3': pd.Series(dtype='object'),
                   'ORSENS': pd.Series(dtype='object'),
                   'LBCMG': pd.Series(dtype='object'),
                   'MTREM': pd.Series(dtype='float64'),
                   'PCREM': pd.Series(dtype='float64'),
                   'NBPTS': pd.Series(dtype='float64'),
                   'Filler4': pd.Series(dtype='object'),
                   'TYPMEC': pd.Series(dtype='object'),
                   'CDCUPEXT': pd.Series(dtype='object'),
                   'CDCATCMG': pd.Series(dtype='object'),
                   'CDSGM': pd.Series(dtype='object'),
                   'CDRGPEXT': pd.Series(dtype='object'),
                   'Filler5': pd.Series(dtype='object'),
                   'CDCMG': pd.Series(dtype='object'),
                   'Filler6': pd.Series(dtype='object')}

# Printing Log
#proc printto
 log="str(outdest)+/update_comparable_flags_202150_+str(daydate)+.log"     print="str(outdest)+/update_comparable_flags_202150_+str(daydate)+.lst"

# used to fetch the records from db_conn.exe
req_wks=db_conn.execute("""select count(*) from period_week_seq where week_id between {ty_fr} and {ty_to}""".format(ty_fr=ty_fr,ty_to=ty_to)).fetchall()[0][0]

In [ ]:
# SAS
PROC SQL;
connect to ODBC as prueba (user=NRSP_OPSES password=NRSP_OPSES datasrc=VALPRD01);
CREATE TABLE ILIST1 AS
SELECT *
from connection to prueba
(select distinct phi_id, TRIM('P') || TRIM(TO_CHAR(A.HIER_ID,'000000000000000000')) || TRIM(TO_CHAR(A.NODE_ID)) as nodo, a.* 
from nrsp_v.vrag_fds_flat_hie_prd a, nrsp_v.trag_ps_hierarchy_prd b
where fds_id = 1175260
and phi_fds_id = fds_id and hier_id = phi_id);
disconnect from prueba;
QUIT;
RUN;

# Python connection
#init_oracle_client , should be run only first time to initiate the oracle client after that comment it
#cx_Oracle.init_oracle_client(lib_dir=r"C:\Users\1928695\Downloads\instantclient-basic-windows.x64-19.12.0.0.0dbru (1) (1)\instantclient_19_12")
dsn_tns = cx_Oracle.makedsn('oravalprdscan.enterprisenet.org', '1535', service_name='VALPRDMDR')
conn = cx_Oracle.connect(user='NRSP_OPSES', password='NRSP_OPSES', dsn=dsn_tns)
cur = conn.cursor()
cur.prefetchrows = 50000 #you can increase the prefetch size and arraysize for fast execution, depends on hardware, mainly used to reduce memory load at a time only 50000 records are fetched
cur.arraysize = 50000    #you can increase the prefetch size and arraysize for fast execution, depends on hardware
dlist1=[]
for row in cur.execute("(select distinct phi_id, TRIM('P') || TRIM(TO_CHAR(A.HIER_ID,'000000000000000000')) || TRIM(TO_CHAR(A.NODE_ID)) as nodo, a.* from nrsp_v.vrag_fds_flat_hie_prd a, nrsp_v.trag_ps_hierarchy_prd b where fds_id = 1175260 and phi_fds_id = fds_id and hier_id = phi_id)"):
    dlist1.append(row)

ILIST1=pd.DataFrame(dlist1,columns=['PHI_ID','NODO','FDS_ID','HIER_ID','NODE_ID','LEV','NAN_KEY']) 
cur.close()
conn.close()

In [ ]:
#tranwrd
SAS:-    labl=tranwrd(labl, "," ,  "/");
Python:- lih['labl'] = lih['labl'].str.replace(",","/")

In [ ]:
#Reading path from config
address_universe_working=pd.read_excel(os.path.join(config.path,config.address_universe_working))
IN_input1=pd.read_excel(os.path.join(config.path,config.oldnew_gam_td))
IN_input2=pd.read_excel(os.path.join(config.path,config.compare_remains))



pathdwh=os.path.join("C:","\\")




lData=os.path.join('..','data'+os.sep) 
lPurch=os.path.join('..','data','extract'+os.sep) 
lproEF =os.path.join('department','model','dwh','ncps','ncps_2.1','input','FR','EF_data'+os.sep)
LIN=os.path.join('..','data'+os.sep) 


BAR_APO=os.path.join(pathdwh,"Users","1992800","Downloads","Census_ReweVSFil+P.xlsx")
outfile1=os.path.join(pathdwh,"My_Sas_Exit","UC125","new"+filename)
outfile2=os.path.join(pathdwh,"My_Sas_Exit","UC125","delete"+filename)
outfile3=os.path.join(pathdwh,"My_Sas_Exit","UC125","oldnew"+filename)
outfile4=os.path.join(pathdwh,"My_Sas_Exit","UC125","compare_remains"+filename)
address_universe_working=os.path.join(pathdwh,"Users","1992800","Downloads","address_universe_working.xlsx")

In [ ]:
#index_col=[0] removes unnamed index column
cnan_orig=pd.read_csv(lData+"cnan_orig.csv",index_col=[0],dtype={'conv1': str})

In [ ]:
#DateTime formaat
    Load_Df['DDOFRFDL'] = pd.to_datetime(Load_Df['DDOFRFDL'],errors = 'coerce',format="%Y-%m-%d").dt.strftime("%y-%m-%d")
    Load_Df['DFOFRFDL'] = pd.to_datetime(Load_Df['DFOFRFDL'], errors = 'coerce',format="%Y-%m-%d").dt.strftime("%y-%m-%d")

# Label
a=pd.DataFrame({"A":[12,3,44,4]})
a.style.set_caption("list of files")

# Import
import pandas as pd
import numpy as np
from IPython.core.display import display, HTML
from datetime import datetime, date
import time
import portalocker
import gc
import sys
import re
import os
from termcolor import colored, cprint

In [ ]:
from sqlalchemy import create_engine
from sqlalchemy import exc

db_path="C:\\Users\\1949524\\TEST_DB\\"
db_name="Test333.db"
db_conn = create_engine(r"sqlite:///"+db_path+db_name,echo=False).connect()

db_conn=create_engine('sqlite://',echo=False)
db_conn=create_engine(r"sqlite:///",echo=False)

In [ ]:
#Loop with fetching specific value  from column
for k in range(1,len(metadat_liam123)):
    fdict['varname'+str(k)] = metadat_liam123.at[k,'NAME'].upper()

In [ ]:
#Conditions
            derived_facts_2.loc[ derived_facts_2['CATEGORY'] == "TOTAL FMCG",'UWG_VALUE_SHARE']=[np.nan]
            derived_facts_2.loc[ derived_facts_2['CATEGORY'] != "TOTAL FMCG",'UWG_VALUE_SHARE']=derived_facts_2['VALUE']/(derived_facts_2['FMCG_VALUE']*100)

In [ ]:
#MAP FUNCTION
        globals()[country+'_'+'ldl'+'_liam1_2'].columns = map(str.upper, globals()[country+'_'+'ldl'+'_liam1_2'].columns)

In [ ]:
#creating folders
if os.path.isdir(path1)==False:
    os.mkdir(path1)
if os.path.isdir(path2)==False:
    os.mkdir(path2)

In [ ]:
#DATETIME
todaysdate = datetime.today().strftime('%Y%m%d')

In [ ]:
wELEMTF['csenddate'] = np.select(conditions, choices,default=wELEMTF['csenddate_'].apply(rdate))

In [ ]:
#SUMMARY

# Calculate the sum of the adjusted sales over all households
        df2=PURCHASE_SHAREFACTOR.groupby(['XX_GROUP', 'CODE', 'CATEGORY','PROMO_GROUP']).agg({'VALUE_ADJUSTED':'sum'}).reset_index()
        df2['_type_']=1
        df=PURCHASE_SHAREFACTOR.groupby(['XX_GROUP', 'CODE', 'CATEGORY']).agg({'VALUE_ADJUSTED':'sum'}).reset_index()
        df['PROMO_GROUP']=''
        df['_type_']=0
        df=df[['XX_GROUP', 'CODE', 'CATEGORY','PROMO_GROUP','VALUE_ADJUSTED','_type_']]
        PURCHASE_SHAREFACTOR_SUM=df2.append(df)
        del df2,df
        PURCHASE_SHAREFACTOR_SUM=PURCHASE_SHAREFACTOR_SUM.sort_values(by=['XX_GROUP', 'CODE', 'CATEGORY','_type_'])
        PURCHASE_SHAREFACTOR_SUM.reset_index(drop=True)
        PURCHASE_SHAREFACTOR_SUM=PURCHASE_SHAREFACTOR_SUM.rename(columns={'VALUE_ADJUSTED':'TOTAL_VALUE_ADJUSTED'})
        logger.info("Table PURCHASE_SHAREFACTOR_SUM has "+str(len(PURCHASE_SHAREFACTOR_SUM.axes[0]))+" rows and "+str(len(PURCHASE_SHAREFACTOR_SUM.axes[1]))+" columns")

In [ ]:
attrib Monday_Summary format=ddmmyy10.

NCPS_SUMMARY['monday']=  NCPS_SUMMARY['Monday_Summary']
NCPS_SUMMARY['delta']= pd.to_timedelta(NCPS_SUMMARY['Monday_Summary'], unit='d')
NCPS_SUMMARY['d0']=date(1960,1,1)
NCPS_SUMMARY['d0']= pd.to_datetime(NCPS_SUMMARY['d0'])
NCPS_SUMMARY['Monday_Summary']=NCPS_SUMMARY['d0']+NCPS_SUMMARY['delta'] 
NCPS_SUMMARY['Monday_Summary']=pd.to_datetime(NCPS_SUMMARY['Monday_Summary']).dt.strftime('%d-%m-%Y')

In [ ]:
logger.info("*************Execution starts "+(datetime.now()).strftime("%H:%M:%S")+"*************\n\n")
cx_Oracle.init_oracle_client(lib_dir=r"C:\Users\1949524\OneDrive - TCS COM PROD\Documents\instantclient_19_12")
dsn_tns = cx_Oracle.makedsn(config.host, config.port, service_name=config.service)
conn = cx_Oracle.connect(user=config.user_id, password=config.passwrod, dsn=dsn_tns)
c = conn.cursor()
c.arraysize=config.size
c.prefetchrows=config.size
df_tuple=[]

# Accessing Config file in .ini format. 
file='UC125_02_LEH_ALL_input.ini'
config=configparser.RawConfigParser()
config.read(file)


file='uc125_02_chain_compare_acv_output_LEH_neu.ini'
config=ConfigParser()
config.read(file)

# Summary
proc summary data=anz;
class keyaccount  typ;
var ANZ CV;
output out=anzahl (DROP=_TYPE_ _FREQ_)SUM= ;
run;

anzahl=anz.groupby(['KeyAccount', 'Typ']).agg({'ANZ':sum,'CV':sum}).reset_index()






#creating dataframe summ_cust_types by taking count of the columns "Customer_Type_ID", "Customer_Type_Desc"
summ_cust_types=globals()['customer_ '+str(per)].groupby(["Customer_Type_ID","Customer_Type_Desc"]).size().reset_index(name="COUNT")

In [ ]:
#Frequency
def proc_freq(ds,var1):
    '''function to return the frequency of the dataframe '''

    f=ds[var1].value_counts(dropna=False)
    p=ds[var1].value_counts(dropna=False, normalize=True)
    df=pd.concat([f,p], axis=1, keys=['frequency', 'percent'])
    df['percent']=df['percent']*100
    df["cumfrequency"] = df["frequency"].cumsum()
    df["cumpercent"] = df["percent"].cumsum()
    return df

In [ ]:
#HTML Codes
from IPython.core.display import display, HTML
display(HTML("ADRFILE: ANZ + UMSATZ " +str(perfromN)))

# Dynamic DatasetsLooping with global
proc sql;
	select distinct key_acc into :lst_key_acc separated by " " from finput.validation;


%do i = 1 %to %sysfunc(countw(&lst_key_acc.));

	%let key_acc_sub = %scan(&lst_key_acc., &i.);
	data val_&key_acc_sub.;
		set finput.validation;
		if key_acc eq &key_acc_sub.;
	run;

In [ ]:
for i in range(0,len(lst_key_acc.split())) :
    key_acc_sub=str(int(float(lst_key_acc.split()[i])))
    globals()['val_'+str(key_acc_sub)]=validation
    globals()['val_'+str(key_acc_sub)]=globals()['val_'+str(key_acc_sub)].loc[globals()['val_'+str(key_acc_sub)]["key_acc"]==float(key_acc_sub)]
    globals()['val_'+str(key_acc_sub)]["key_acc"].astype(int)

In [ ]:
# Functions
VMKSMG=XXFIL.copy(deep=True)
VMKSMG['RAT']=None
VMKSMG=VMKSMG.apply(func_VMKSMG,axis=1)
# VMKSMG

In [ ]:
comma20. 
selecr * , al_cps_p1 format = comma20. as val_cps_p1_orig

alignment.loc[:, "val_cps_p1_orig"] =alignment["val_cps_p1_orig"].map('{:,d}'.format)

converts 96794945 96,794,945

# for changing the NONE to empty space
mask = address_universe_working.applymap(lambda x: x is None)
cols = address_universe_working.columns[(mask).any()]
for col in address_universe_working[cols]:
    address_universe_working.loc[mask[col], col] = ''
address_universe_working.to_sql('address_universe_working',db_conn,index=False,if_exists='replace')
address_universe_working

In [ ]:
#Conditions
conditions = [(HOS['ZUGNR']==3197),(HOS['ZUGNR']==6191),(HOS['ZUGNR']==6193),(HOS['ZUGNR']==6194)]
choices = [1111114,1111116,1111115,1111113]
HOS['RAT'] = np.select(conditions, choices,default = 99999 )

DATA HOS; 
 SET XXFIL;

  IF TYP IN ('DRO')             THEN DO;
            IF ZUGNR=3197                        THEN RAT=1111114;
       ELSE IF ZUGNR=6191                        THEN RAT=1111116;
       ELSE IF ZUGNR=6193                        THEN RAT=1111115;
       ELSE IF ZUGNR=6194                        THEN RAT=1111113;
	   ELSE                                           RAT=99999;
  OUTPUT;
  END;
    
    
#Using Loc:-    
if xf_master0 gt 0 
       then xf_master = xf_master0;
       else xf_master = nlig - mod(nlig,&coef.);    
        
wcontract.loc[wcontract['xf_master0'] > 0, 'xf_master'] = wcontract['xf_master0']
    wcontract.loc[wcontract['xf_master0'] <= 0, 'xf_master'] = (wcontract['nlig']-(wcontract['nlig']%coef))

In [ ]:
PURCHASE_SHAREFACTOR=pd.merge(ALL_CPS_SALES,RMS_CPS_COMP_MARKET[['CODE', 'CATEGORY', 'PROMO_GROUP', 'UPLIFT', 'SHARE_FACTOR']],on=['CODE', 'PROMO_GROUP'],how='left', suffixes=('', '_DROP')).filter(regex='^(?!.*_DROP)')

# NP.Where
cnan['conv1'] = np.where(cnan['conv1']<=0,0,cnan['conv1'])
                             condition,value,column
np.where(anz['Typ'].isin(lst),'LEH','')

# Proc Tabulate
PROC TABULATE DATA=anzahl     F=6.  FORMCHAR='!----!+!---'    ; 
 TITLE3 "ADRFILE: ANZ + UMSATZ      &perfromN     ";
 CLASS keyaccount typ1 shoptyp;                               
 VAR ANZ cv      ;                                   
 TABLE  keyaccount ALL , typ1*(ANZ cv) shoptyp*(ANZ cv)               
         /RTS=15   BOX='LEH'          ;                     
                                                              
   KEYLABEL  SUM=' '   ;    
 
run; 


anzahl1=anzahl.pivot_table(index=["KeyAccount","typ1"],aggfunc={'anz':'sum','CV':'sum'}, fill_value=0).reset_index()
anzahl2={'KeyAccount':'ALL','anz':anzahl1['anz'].sum(),'CV':anzahl1['CV'].sum()}
anzahl1=anzahl1.append(anzahl2,ignore_index=True)
anzahl1=anzahl1.set_index(['KeyAccount',"typ1"])
anzahl1.style.set_caption("ADRFILE: ANZ + UMSATZ  21019")

anzahl3=anzahl.pivot_table(index=["KeyAccount","Shoptyp"],aggfunc={'anz':'sum','CV':'sum'}, fill_value=0).reset_index()
anzahl2={'KeyAccount':'ALL','anz':anzahl3['anz'].sum(),'CV':anzahl3['CV'].sum()}
anzahl3=anzahl3.append(anzahl2,ignore_index=True)
anzahl3=anzahl3.set_index(['KeyAccount',"Shoptyp"])
anzahl3







TODOEANNANPC_1=TODOEANNANPC.pivot_table(index=['PC_DESCRIPCION'],aggfunc={'UNIDADES':'sum','VALOR':'sum','REF':'sum'}, fill_value=0).reset_index()
TODOEANNANPC_2={'PC_DESCRIPCION':'ALL','UNIDADES':TODOEANNANPC_1['UNIDADES'].sum(),'VALOR':TODOEANNANPC_1['VALOR'].sum(),'REF':TODOEANNANPC_1['REF'].sum()}
TODOEANNANPC1=TODOEANNANPC_1.append(TODOEANNANPC_2,ignore_index=True)
TODOEANNANPCTAB=TODOEANNANPC1.set_index(['PC_DESCRIPCION'])
writetolog('Tabular data for (PC_DESCRIPCION ALL):','LaCooperativaCad')
logger.info(logdf("TODOEANNANPCTAB",TODOEANNANPCTAB))
del TODOEANNANPC_1,TODOEANNANPC_2,TODOEANNANPC1

In [ ]:
#Exporting
writer = pd.ExcelWriter(ALL_1_output_file, engine='xlsxwriter')
ALL_1.to_excel(writer,index=False)
writer.save()

In [2]:
#Frequency
proc freq noprint; table nlig / out=cntCNAN;
cntCNAN=cnan.groupby(['nlig']).size().reset_index(name="count")

In [ ]:
#Transpose

proc transpose data=prd_focus out=_prd_focus prefix=line; by nc_nan_key;
	where line in(&line_focus);
	var uni; 
	id line;
run;



 _prd_focus=(prd_focus.set_index(['nc_nan_key']).pivot(columns='line')['uni'].add_prefix('line').reset_index()).rename_axis(None, axis=1)

    
 proc transpose data=ACHAT01 out=ACHAT01 prefix=l suffix=p&per;
       var SD;
       by ac_hhold mbdR nligNLR;
       id level; 
    
# Performing Transpose
ACHAT01=(ACHAT01.set_index(['AC_HHOLD','mbdR','nligNLR']).pivot(columns='level')['SD'].add_prefix('l').add_suffix('p'+str(per)).reset_index()).rename_axis(None, axis=1)
logger.info("Table ACHAT01 has {0} rows and {1} columns".format(len(ACHAT01.axes[0]),len(ACHAT01.axes[1])))






proc transpose data = bc_char_nacs out = usref.bc_char_nacs_T_0(drop = _NAME_ _LABEL_);
by upc;
ID BC_CHAR_TYPE;
var BC_CHAR_VALUE ;
run;

# Transpose the dataframe
bc_char_nacs_T_0=bc_char_nacs.pivot(index='UPC',columns='BC_CHAR_TYPE',values='BC_CHAR_VALUE')